/*Text*/
ul > li.frame_theme {
    color: #fff;
}

/*Color of none*/
ul > li.frame_theme.none {
    background: #fff;
    color: #000;
}

ul > li.frame_theme.none > .color_one {
    background: #e5e5e5;
}

ul > li.frame_theme.none > .color_two {
    background: #365899;
}

ul > li.frame_theme.none > .color_three {
    background: #1a0dab;
}

/*Color of dusk*/
ul > li.frame_theme.dusk {
    background: #183552;
}

ul > li.frame_theme.dusk > .color_one {
    background: #15497f;
}

ul > li.frame_theme.dusk > .color_two {
    background: #009bde;
}

ul > li.frame_theme.dusk > .color_three {
    background: #6FC8EF;
}

/*Color of iceberg*/
ul > li.frame_theme.iceberg {
    background: #28292A;
}

ul > li.frame_theme.iceberg > .color_one {
    background: #404142;
}

ul > li.frame_theme.iceberg > .color_two {
    background: #2ea6c0;
}

ul > li.frame_theme.iceberg > .color_three {
    background: #65D7EF;
}

/*Color of tomorrow*/
ul > li.frame_theme.tomorrow {
    background: #1d1f21;
}

ul > li.frame_theme.tomorrow > .color_one {
    background: #373b41;
}

ul > li.frame_theme.tomorrow > .color_two {
    background: #81a2be;
}

ul > li.frame_theme.tomorrow > .color_three {
    background: #9c75a7;
}

/*Color of material*/
ul > li.frame_theme.material {
    background: #151515;
}

ul > li.frame_theme.material > .color_one {
    background: #424242;
}

ul > li.frame_theme.material > .color_two {
    background: #64B5F6;
}

ul > li.frame_theme.material > .color_three {
    background: #E53935;
}

/*Color of red_alert*/
ul > li.frame_theme.red_alert {
    background: #000;
}

ul > li.frame_theme.red_alert > .color_one {
    background: #600500;
}

ul > li.frame_theme.red_alert > .color_two {
    background: #d00;
}

ul > li.frame_theme.red_alert > .color_three {
    background: #CF4F4F;
}