html {
  background-color: #1d1f21 !important;
  min-height: 100% !important; }

body {
  background-color: #e2e0de !important;
  min-height: 100% !important;
  -webkit-filter: invert(100%) !important; }

img,
iframe,
video,
embed:not([type$="pdf"]),
object,
svg,
canvas,
[background*="http"] {
  -webkit-filter: invert(100%)  !important; }

*[style*="background-image:"] {
  -webkit-filter: invert(100%)  !important; }

div.drk_settings,
div.drk_settings_icon,
div.drk_dialog,
.addthis_sharing_toolbox,
.drk_invert_back {
  -webkit-filter: invert(100%)  !important; }

*:-webkit-full-screen {
  -webkit-filter: invert(100%)  !important; }

button, input[type="submit"], input[type="button"] {
  background-color: #7e5d41 !important;
  color: #c8c4be !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }
  button span, input[type="submit"] span, input[type="button"] span {
    color: #c8c4be !important; }

textarea, input[type="text"] {
  background-color: #d7d5d1 !important;
  color: #1f1f1f !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

html {
  text-shadow: 0 0 0 !important; }

a {
  color: #7e5d41 !important; }

a:visited {
  color: #4d6b44 !important; }

a:active {
  color: #0f398b !important; }

::-webkit-scrollbar {
  background: #1d1f21; }

::-webkit-scrollbar-track {
  background: #292c2f; }

::-webkit-scrollbar-thumb {
  background: #43484f;
  border-left: 2px solid #292c2f;
  border-right: 1px solid #292c2f;
  box-shadow: inset 1px 1px 0 rgba(100, 100, 100, 0.2), inset -1px -1px 0 rgba(0, 0, 0, 0.4); }

.drk_settings_global_msg.visible {
  display: block !important; }

button, .btn.btn-primary, .top-nav__button > a {
  background-color: #7e5d41 !important;
  color: #c8c4be !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

input {
  color: #1f1f1f;
  background-color: #d7d5d1;
  border-color: rgba(0, 0, 0, 0.15); }

.logo {
  -webkit-filter: invert(1) !important; }

.modal-backdrop {
  background-color: #fff !important; }

.text-warning, .notification.warning {
  color: #7e5d41 !important; }

.next-beta {
  background-color: #7e5d41 !important; }

.next-beta a {
  color: #3a3739 !important; }

.label-success {
  background-color: #c7aa91 !important; }

.switch:after, .switch:before {
  background-color: #6435c1 !important; }

.switch:before {
  background-color: #bcbcbc !important; }

.text-info, .text-success {
  color: #c7aa91 !important; }

footer {
  background-color: #c8c4be !important; }

.main-footer__menu-group__header {
  color: #4a4297 !important; }

.header-main {
  background: #e2e0de !important; }

.gradient-bar-header {
  background-color: #7e5d41 !important;
  background-image: #7e5d41 !important; }

.header-navigation .open .dropdown-toggle, .zones-picker.open .current-zone {
  background-color: #e1e1e1 !important; }

.homepage-video-modal {
  background-color: #e2e0de !important; }

section.tile {
  background: transparent !important;
  color: #3a3739 !important; }

section.tile h2, section.tile h1, section.tile h3, section.tile h4 {
  color: #3a3739 !important; }

section.tile .button {
  background-color: #7e5d41 !important;
  color: #c8c4be !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

section.tile img {
  -webkit-filter: invert(0) !important; }

section.tile .grid img {
  -webkit-filter: invert(1) !important; }

.icon-quote-left {
  color: #7e5d41 !important; }

.grid__item--feature.tile__background--purple, .grid__item--feature.tile__background--yellow {
  background: #c7aa91 !important; }

.grid__item--feature.tile__background--green, .grid__item--feature.tile__background--blue {
  background: #d8c4b3 !important; }

.grid__item--feature {
  color: #3a3739 !important; }

.grid__item--feature span {
  color: #4a4297 !important; }

.owl-item * {
  color: #3a3739 !important; }

.tile--2-col-green-bg::before {
  background: #d8c4b3 !important; }

.site-status .info.success {
  background-color: #c7aa91 !important; }

.analytics-share-box, .analytics-share-box .tabs li.active a {
  background-color: #c7aa91 !important; }

.analytics-share-box .tabs a {
  background-color: #d8c4b3 !important; }

.proxy .cloud {
  -webkit-filter: invert(1) !important; }

.dns-type-a .dns-type-cell {
  color: #cccccc !important; }

.dns-type-aaaa .dns-type-cell {
  color: #838383 !important; }

.dns-type-cname .dns-type-cell {
  color: #0086ff !important; }

.dns-type-mx .dns-type-cell {
  color: #26e967 !important; }

.dns-type-txt .dns-type-cell {
  color: #6435c1 !important; }

.dns-type-srv .dns-type-cell {
  color: #42dad8 !important; }

.dns-type-ns .dns-type-cell {
  color: #6aba1a !important; }

.dns-type-loc .dns-type-cell {
  color: #9d5e27 !important; }

.tabs a:before {
  border-top-color: #c7aa91 !important; }

.tabs li.active a {
  background-color: #c7aa91 !important; }

/*# sourceMappingURL=cloudflare-base16tomorrow.css.map */
