html {
  background-color: black !important;
  min-height: 100% !important; }

body {
  background-color: white !important;
  min-height: 100% !important;
  -webkit-filter: invert(100%) !important; }

img,
iframe,
video,
embed:not([type$="pdf"]),
object,
svg,
canvas,
[background*="http"] {
  -webkit-filter: invert(100%)  !important; }

*[style*="background-image:"] {
  -webkit-filter: invert(100%)  !important; }

div.drk_settings,
div.drk_settings_icon,
div.drk_dialog,
.addthis_sharing_toolbox,
.drk_invert_back {
  -webkit-filter: invert(100%)  !important; }

*:-webkit-full-screen {
  -webkit-filter: invert(100%)  !important; }

button, input[type="submit"], input[type="button"] {
  background-color: #22ffff !important;
  color: black !important;
  border-color: rgba(55, 235, 255, 0.08) !important; }
  button span, input[type="submit"] span, input[type="button"] span {
    color: black !important; }

textarea, input[type="text"] {
  background-color: white !important;
  color: #1f1d1b !important;
  border-color: rgba(55, 235, 255, 0.08) !important; }

html {
  text-shadow: 0 0 0 !important; }

a {
  color: #2fafaf !important; }

a:visited {
  color: #4aaaaa !important; }

a:active {
  color: #009fbf !important; }

::-webkit-scrollbar {
  background: black; }

::-webkit-scrollbar-track {
  background: #0d0d0d; }

::-webkit-scrollbar-thumb {
  background: #7a0600;
  border-left: 2px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  box-shadow: inset 1px 1px 0 rgba(100, 100, 100, 0.2), inset -1px -1px 0 rgba(0, 0, 0, 0.4); }

.drk_settings_global_msg.visible {
  display: block !important; }

/*----------------------------------------------------------------------------------------------------------------------------------------------------
This is a template for easily creating skins for new websites!
The variables in this skin (e.g. $theme-background, $theme-color) are imported from the various color themes in /themes/themes

Darkness loads /themes-css/[SITE]-[THEME].css (e.g. facebook-iceberg.css, google-iceberg.css, google-material.css...).
Those CSS are built by combining 3 files:
1. The color scheme defined by variables like $theme-text, $theme-background (themes/themes/[THEME].scss)
2. A skin common to all websites (themes/websites/all-websites.scss)
3. A site-specific skin (themes/websites/[SITE].scss) - THIS FILE

Guidelines:
* Please avoid hard-coding #rrggbb colors. Use the variables in themes/monokai.scss instead.
* Please add short comments before each CSS selector to indicate what UI element it refers to
* Before starting, take a look at google.scss, facebook.scss to see how a skin should look like

You should know: all the website's colors are inverted before skinning even starts!
* To make skinning easier, the entire website is inverted ("negative") by adding -webkit-filter: invert(100%) to <body> (done in all-websites.scss)
* In order to compensate for that, all the theme colors (in monokai.scss) are inverted back! e.g. $theme-link: invert-back-color($blue);
* This generally shouldn't affect you, since you should always use variables such as $theme-color or $theme-border, and not absolute #rrggbb colors
* Sometimes you'll want to invert elements back to their original color (e.g. negative images). Use invert-back: .elm { @include invert-back() }
----------------------------------------------------------------------------------------------------------------------------------------------------*/
button {
  background-color: #22ffff !important;
  color: black !important;
  border-color: rgba(55, 235, 255, 0.08) !important; }

input {
  color: #1f1d1b;
  background-color: white;
  border-color: rgba(55, 235, 255, 0.08); }

.flag {
  -webkit-filter: invert(100%)  !important; }

.userlinks, #ef {
  margin-right: 35px; }

#loginWidget.highlight {
  margin-right: 40px; }

.querybox, .form-tab, .js-only {
  background: white !important;
  background-color: white !important; }

.search-options-container, .search-options, .tsb, .searchgroup, .hasPic {
  background: white !important;
  background-color: white !important; }

.purveyor .button {
  background: #9ffaff !important;
  background-color: #9ffaff !important;
  border-color: rgba(55, 235, 255, 0.08); }

.purveyor .button.sel {
  color: #e6e6e6 !important;
  background: white !important;
  background-color: white; }

.search-options-container::-webkit-scrollbar, .search-options-container::-webkit-scrollbar-track {
  background: #cffaff !important;
  background-color: #cffaff !important; }

.search-options-container::-webkit-scrollbar-track {
  background: #cffaff !important;
  background-color: #cffaff !important; }

.search-options-container::-webkit-scrollbar-thumb {
  background: #9ffaff !important;
  background-color: #9ffaff !important;
  border-color: #cffaff !important;
  box-shadow: inset 1px 1px 0 #cffaff, inset -1px -1px 0 #cffaff !important; }

button, input[type="submit"], input[type="button"] {
  background: white !important;
  background-color: white !important;
  color: #2fafaf !important; }

/*# sourceMappingURL=craigslist-redalert.css.map */
