html {
  background-color: #151515 !important;
  min-height: 100% !important; }

body {
  background-color: #eaeaea !important;
  min-height: 100% !important;
  -webkit-filter: invert(100%) !important; }

img,
iframe,
video,
embed:not([type$="pdf"]),
object,
svg,
canvas,
[background*="http"] {
  -webkit-filter: invert(100%)  !important; }

*[style*="background-image:"] {
  -webkit-filter: invert(100%)  !important; }

div.drk_settings,
div.drk_settings_icon,
div.drk_dialog,
.addthis_sharing_toolbox,
.drk_invert_back {
  -webkit-filter: invert(100%)  !important; }

*:-webkit-full-screen {
  -webkit-filter: invert(100%)  !important; }

button, input[type="submit"], input[type="button"] {
  background-color: #fc560b !important;
  color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }
  button span, input[type="submit"] span, input[type="button"] span {
    color: #bdbdbd !important; }

textarea, input[type="text"] {
  background-color: #dedede !important;
  color: #111111 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

html {
  text-shadow: 0 0 0 !important; }

a {
  color: #9b4a09 !important; }

a:visited {
  color: #867934 !important; }

a:active {
  color: #6f3506 !important; }

::-webkit-scrollbar {
  background: #151515; }

::-webkit-scrollbar-track {
  background: #222222; }

::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-left: 2px solid #222222;
  border-right: 1px solid #222222;
  box-shadow: inset 1px 1px 0 rgba(100, 100, 100, 0.2), inset -1px -1px 0 rgba(0, 0, 0, 0.4); }

.drk_settings_global_msg.visible {
  display: block !important; }

button {
  background-color: #fc560b !important;
  color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

input {
  color: #111111;
  background-color: #dedede;
  border-color: rgba(0, 0, 0, 0.15); }

body {
  background-color: #eaeaea !important; }

.toolbarClass {
  background: #eaeaea !important; }

a[role="button"] {
  -webkit-filter: invert(100%)  !important; }

a[role="button"] svg {
  -webkit-filter: none !important; }

._5742,
._36ic {
  border-color: rgba(0, 0, 0, 0.15) !important;
  background: #bdbdbd !important; }

._54nf {
  background-color: #d7d7d7 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }
  ._54nf li:hover {
    background: #fea864 !important; }
    ._54nf li:hover span {
      background: #fea864 !important; }

._4eby {
  background-color: #d7d7d7 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._2xhi ._5l-3 {
  background-color: #d7d7d7 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._3rh8,
._4_j5 {
  background-color: #d7d7d7 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._2poo {
  -webkit-filter: invert(100%)  !important; }

._1c_u {
  -webkit-filter: invert(100%)  !important; }

._29_7 > ._hh7 {
  background-color: #d7d7d7 !important;
  color: #0f0f0f !important; }
  ._29_7 > ._hh7 a {
    color: #0f0f0f !important; }

._nd_ ._hh7 {
  -webkit-filter: invert(1) !important; }

._nd_ ._hh7 img {
  -webkit-filter: invert(0) !important; }

._4p-s > ._29hk:nth-child(1),
._4p-s > ._29hk:nth-child(2) {
  background-color: #d7d7d7 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

/*# sourceMappingURL=messenger-material.css.map */
