html {
  background-color: #151515 !important;
  min-height: 100% !important; }

body {
  background-color: #eaeaea !important;
  min-height: 100% !important;
  -webkit-filter: invert(100%) !important; }

img,
iframe,
video,
embed:not([type$="pdf"]),
object,
svg,
canvas,
[background*="http"] {
  -webkit-filter: invert(100%)  !important; }

*[style*="background-image:"] {
  -webkit-filter: invert(100%)  !important; }

div.drk_settings,
div.drk_settings_icon,
div.drk_dialog,
.addthis_sharing_toolbox,
.drk_invert_back {
  -webkit-filter: invert(100%)  !important; }

*:-webkit-full-screen {
  -webkit-filter: invert(100%)  !important; }

button, input[type="submit"], input[type="button"] {
  background-color: #fc560b !important;
  color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }
  button span, input[type="submit"] span, input[type="button"] span {
    color: #bdbdbd !important; }

textarea, input[type="text"] {
  background-color: #dedede !important;
  color: #111111 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

html {
  text-shadow: 0 0 0 !important; }

a {
  color: #9b4a09 !important; }

a:visited {
  color: #867934 !important; }

a:active {
  color: #6f3506 !important; }

::-webkit-scrollbar {
  background: #151515; }

::-webkit-scrollbar-track {
  background: #222222; }

::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-left: 2px solid #222222;
  border-right: 1px solid #222222;
  box-shadow: inset 1px 1px 0 rgba(100, 100, 100, 0.2), inset -1px -1px 0 rgba(0, 0, 0, 0.4); }

.drk_settings_global_msg.visible {
  display: block !important; }

button {
  background-color: #fc560b !important;
  color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.btn > i.fa {
  color: #bdbdbd !important; }

input {
  color: #111111;
  background-color: #dedede;
  border-color: rgba(0, 0, 0, 0.15); }

::-webkit-resizer, ::-webkit-scrollbar-corner {
  background: #222222; }

.toolbar-header .btn > i.fa, .toolbar-left i.fa, .btn > .review-icon {
  color: #fc560b !important;
  -webkit-filter: grayscale(100%) !important; }

.ace-editor-body {
  -webkit-filter: invert(100%) !important; }

.ace_gutter-cell {
  -webkit-filter: invert(0%) !important; }

.ace_line_group {
  -webkit-filter: invert(100%) !important; }

.ace_content {
  -webkit-filter: invert(100%) !important; }

.ace_active-line {
  -webkit-filter: invert(100%) !important; }

.ace_cursor {
  -webkit-filter: invert(100%) !important; }

.ace_error-marker {
  -webkit-filter: invert(100%) !important; }

body > .ace_editor > .ace_scroller {
  -webkit-filter: invert(100%) !important; }

body > .ace_editor > .ace_scroller > .ace_content > .ace_layer > .ace_active-line {
  -webkit-filter: invert(0%) !important; }

.pdfjs-viewer {
  -webkit-filter: invert(100%) !important;
  background-color: #303030 !important; }

.pdf-page-container {
  -webkit-filter: invert(100%) !important; }

.pdfjs-controls {
  -webkit-filter: invert(0%) !important; }

.pdfjs-controls .btn {
  background-color: #fc560b !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.pdfjs-controls .fa {
  color: #bdbdbd !important;
  border-color: black !important; }

.pdf .btn-group {
  -webkit-filter: invert(100%) !important; }

.pdf .btn-group .btn {
  -webkit-filter: invert(100%) !important;
  background-color: #fc560b !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
  color: #bdbdbd !important; }

.pdf-logs .alert-danger, .pdf-errors .alert-danger {
  color: #51d2fa !important;
  border-color: #51d2fa !important; }

.pdf-logs .alert-warning, .pdf-errors .alert-warning {
  color: #3989fa !important;
  border-color: #3989fa !important; }

.pdf-logs .alert-info, .pdf-errors .alert-info {
  color: #d9c78c !important;
  border-color: #d9c78c !important; }

.fa {
  color: #fc560b !important; }

.fa.ng-scope {
  color: #bdbdbd !important; }

li.selected > .entity > div > .fa,
li.selected > .entity > div > .ng-binding,
li.selected > .entity > div > span > a > .fa,
li.selected > .entity > div > div > .fa,
li.selected > .entity > div > div > .ng-binding,
li.selected > .entity > div > div > span > a > .fa,
aside#file-tree:not(.multi-selected) ul.file-tree-list li.selected > .entity > .entity-name {
  color: #fc560b !important; }

li.selected > .entity > div > span.dropdown,
li.selected > .entity > div > div > span.dropdown {
  border-right: 4px solid #fc560b !important; }

.toolbar-header {
  background: #eaeaea !important; }

.editor header a.btn {
  background: transparent !important; }

a[tooltip="Chat"] {
  border-right: 1px solid #cfcfcf !important; }

.online-user, .remote-cursor {
  -webkit-filter: invert(100%) !important; }

.message-wrapper > .message {
  background-color: #05030c !important;
  -webkit-filter: invert(100%) !important;
  box-shadow: -1px 2px 3px #222222 !important;
  color: #eeeeee !important; }

.ace_search button {
  -webkit-filter: invert(100%) !important;
  color: #bdbdbd !important; }

.ace_search button .fa {
  color: #bdbdbd !important; }

.ace_search .ace_searchbtn_close {
  -webkit-filter: invert(100%) !important; }

.close {
  background-color: transparent !important;
  color: #333 !important; }

.tags > input.input {
  background-color: transparent !important; }

.user > .color-square {
  -webkit-filter: invert(100%) !important; }

.pdf > .toolbar > .btn-group {
  z-index: 1000 !important; }

.fa-long-arrow-right, .fa-long-arrow-left {
  color: #bdbdbd !important; }

.qq-uploader .btn {
  background-color: #fc560b !important;
  color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.pdf ul.dropdown-menu {
  -webkit-filter: invert(1) !important;
  background-color: #dedede !important;
  color: #111111 !important; }

.pdf-viewer .fa {
  -webkit-filter: invert(0) !important; }

.navbar {
  background: #eaeaea !important; }

.navbar-nav > li > a {
  border-color: #fc560b !important; }

.navbar-nav > li > a:hover {
  background-color: #fc560b !important;
  color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.loading-screen h3 {
  -webkit-filter: invert(100%) !important;
  color: #eeeeee !important; }

a.btn, .folders-menu > li.active {
  background-color: #fc560b !important;
  color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.folders-menu > li.active > a {
  color: #bdbdbd !important; }

.folders-menu > li > a {
  color: #9b4a09 !important; }

ul.dropdown-menu > li > a:hover {
  background-color: #fc560b !important;
  color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.alert-success {
  color: #fea864 !important;
  background: #fec497 !important;
  border-color: #fea864 !important; }

.modal-backdrop,
#left-menu-mask {
  background-color: #FAFCFF !important; }

/*# sourceMappingURL=sharelatex-material.css.map */
