html {
  background-color: #1d1f21 !important;
  min-height: 100% !important; }

body {
  background-color: #e2e0de !important;
  min-height: 100% !important;
  -webkit-filter: invert(100%) !important; }

img,
iframe,
video,
embed:not([type$="pdf"]),
object,
svg,
canvas,
[background*="http"] {
  -webkit-filter: invert(100%)  !important; }

*[style*="background-image:"] {
  -webkit-filter: invert(100%)  !important; }

div.drk_settings,
div.drk_settings_icon,
div.drk_dialog,
.addthis_sharing_toolbox,
.drk_invert_back {
  -webkit-filter: invert(100%)  !important; }

*:-webkit-full-screen {
  -webkit-filter: invert(100%)  !important; }

button, input[type="submit"], input[type="button"] {
  background-color: #7e5d41 !important;
  color: #c8c4be !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }
  button span, input[type="submit"] span, input[type="button"] span {
    color: #c8c4be !important; }

textarea, input[type="text"] {
  background-color: #d7d5d1 !important;
  color: #1f1f1f !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

html {
  text-shadow: 0 0 0 !important; }

a {
  color: #7e5d41 !important; }

a:visited {
  color: #4d6b44 !important; }

a:active {
  color: #0f398b !important; }

::-webkit-scrollbar {
  background: #1d1f21; }

::-webkit-scrollbar-track {
  background: #292c2f; }

::-webkit-scrollbar-thumb {
  background: #43484f;
  border-left: 2px solid #292c2f;
  border-right: 1px solid #292c2f;
  box-shadow: inset 1px 1px 0 rgba(100, 100, 100, 0.2), inset -1px -1px 0 rgba(0, 0, 0, 0.4); }

.drk_settings_global_msg.visible {
  display: block !important; }

button {
  background-color: #7e5d41 !important;
  color: #c8c4be !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

input {
  color: #1f1f1f;
  background-color: #d7d5d1;
  border-color: rgba(0, 0, 0, 0.15); }

s {
  color: #7e5d41; }

a, a:visited, body .btn-link, body .btn-link:focus, body .icon-btn, body .pretty-link b, body .pretty-link:hover s, body .pretty-link:hover b, body .pretty-link:focus s, body .pretty-link:focus b, body .metadata a:hover, body .metadata a:focus, body .account-group:hover .fullname, body .account-group:focus .fullname, body .account-summary:focus .fullname, body .message .message-text a, body .stats a strong, body .plain-btn:hover, body .plain-btn:focus, body .dropdown.open .user-dropdown.plain-btn, body .open > .plain-btn, body #global-actions .new:before, body .module .list-link:hover, body .module .list-link:focus, body .stats a:hover, body .stats a:hover strong, body .stats a:focus, body .stats a:focus strong, body .find-friends-sources li:hover .source, body .stream-item a:hover .fullname, body .stream-item a:focus .fullname, body .stream-item .view-all-supplements:hover, body .stream-item .view-all-supplements:focus, body .tweet .time a:hover, body .tweet .time a:focus, body .tweet .details.with-icn b, body .tweet .details.with-icn .Icon, body .tweet .tweet-geo-text a:hover, body .stream-item:hover .original-tweet .details b, body .stream-item .original-tweet.focus .details b, body .stream-item.open .original-tweet .details b, body .client-and-actions a:hover, body .client-and-actions a:focus, body .dismiss-btn:hover b, body .tweet .context .pretty-link:hover s, body .tweet .context .pretty-link:hover b, body .tweet .context .pretty-link:focus s, body .tweet .context .pretty-link:focus b, body .list .username a:hover, body .list .username a:focus, body .list-membership-container .create-a-list, body .list-membership-container .create-a-list:hover, body .card .list-details a:hover, body .card .list-details a:focus, body .card .card-body:hover .attribution, body .card .card-body .attribution:focus, body .new-tweets-bar, body .remove-background-btn, body .stream-item-activity-notification .latest-tweet .tweet-row a:hover, body .stream-item-activity-notification .latest-tweet .tweet-row a:focus, body .stream-item-activity-notification .latest-tweet .tweet-row a:hover b, body .stream-item-activity-notification .latest-tweet .tweet-row a:focus b {
  color: #7e5d41; }

.PermalinkOverlay-with-background {
  background: rgba(200, 200, 200, 0.55) !important; }

body s {
  color: #7e5d41 !important; }

.ReplyingToContextBelowAuthor a:visited {
  color: #7e5d41 !important; }

body .u-textUserColor, body .u-textUserColorHover:hover, body .u-textUserColorHover:hover .ProfileTweet-actionCount, body .u-textUserColorHover:focus {
  color: #7e5d41 !important; }

body .u-borderUserColor, body .u-borderUserColorHover:hover, body .u-borderUserColorHover:focus {
  border-color: #7e5d41 !important; }

body .u-bgUserColor, body .u-bgUserColorHover:hover, body .u-bgUserColorHover:focus {
  background-color: #7e5d41 !important; }

#global-actions > li > a {
  color: #7e5d41 !important;
  border-bottom-color: #7e5d41 !important; }

#global-actions > li > a .Icon {
  filter: invert(0) !important; }

.global-nav-inner {
  background: #c8c4be !important; }

.Icon {
  -webkit-filter: invert(100%)  !important; }

.ProfileTweet-action .Icon,
.ProfileTweet-action button,
.ProfileTweet-action button span {
  color: #999 !important;
  background: transparent !important;
  -webkit-filter: invert(0) !important; }

.retweeted .ProfileTweet-action--retweet .Icon--retweet {
  color: #4a4297 !important; }

.favorited .ProfileTweet-action--favorite .ProfileTweet-actionButtonUndo, .ProfileTweet-action--favorite:hover .ProfileTweet-actionButton {
  -webkit-filter: invert(100) !important;
  color: #17e3b0 !important; }

.ProfileTweet-action button span:hover {
  color: #777 !important; }

.Icon--bird {
  color: #81a2be !important; }

.ProfileTweet-actionButton {
  background: transparent !important; }

.Icon--follower {
  color: #81a2be !important; }

.Icon--search {
  background: transparent !important;
  color: #ccc !important; }

.Icon--follow {
  color: #81a2be !important; }

.Icon--close {
  color: #81a2be !important; }

.DMActivity-close {
  background: transparent !important; }

.modal-close {
  background: transparent !important; }

.DMActivity-back {
  background: transparent !important; }

.Icon--caretLeft {
  color: #7e5d41 !important; }

.DMPopover-button {
  background: transparent !important; }

.DMPopover-button > .Icon--dots {
  color: #7e5d41 !important; }

.Banner-actions button {
  background: transparent !important; }

.logged-out #global-actions > li > a .Icon {
  -webkit-filter: invert(1) !important; }

.RichEditor {
  border-color: rgba(0, 0, 0, 0.15) !important; }

.top-timeline-tweetbox .timeline-tweet-box .tweet-form.condensed .tweet-box {
  color: #3a3739 !important; }

.modal-overlay {
  background: rgba(200, 200, 200, 0.9) !important; }

.Icon--report,
.Icon--delete,
.Icon--dots,
.Icon--caretLeft,
.Icon--smiley {
  color: #7e5d41 !important;
  -webkit-filter: invert(0) !important; }

.DirectMessage-media {
  -webkit-filter: invert(1) !important; }

.DirectMessage-media .Media-photo {
  -webkit-filter: invert(1) !important; }

.EmojiPicker > button,
.DirectMessage-action > button {
  background-color: transparent !important; }

.btn-link {
  background: transparent !important;
  color: #7e5d41 !important; }

.dropdown-link {
  background: transparent !important;
  color: #7e5d41 !important; }

.PollingCardComposer-addOption, .PollingCardComposer-defaultDuration, .PollingCardComposer-remove {
  background: transparent !important;
  color: #7e5d41 !important; }

.follow-btn, .follow-button, .DMNotificationsPermissionRequest-later, .DMNotificationsPermissionRequest-accept {
  background: white !important; }

.ListCreationModule-action > button {
  background: white !important; }

.UserActions-editButton {
  background: white !important; }

.recap-header.dismissible-content button {
  background-color: transparent !important; }

.AdaptiveFiltersBar-target--more {
  background: transparent !important; }

.following-text {
  color: #7e5d41 !important; }

#export_button, #geo_button, #import-services-list button, button.revoke, .btn-widgets-new > button {
  background: white !important;
  color: #7e5d41 !important; }

.signup-btn.btn {
  background-color: #7e5d41 !important;
  color: #c8c4be !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
  text-shadow: none !important;
  background-image: none !important;
  -webkit-filter: invert(0) !important; }

.tweet .PlayableMedia--gif:not(.playable-media-loaded) div.PlayableMedia-player[style*="background-image:"],
.PlayableMedia--video:not(.playable-media-loaded) div.PlayableMedia-player[style*="background-image:"] {
  -webkit-filter: invert(100%) !important; }

.PlayableMedia--gif:not(.playable-media-loaded) div.PlayableMedia-player[style*="background-image:"] {
  -webkit-filter: invert(0%) !important; }

.tweet .PlayableMedia--gif.playable-media-loaded div.PlayableMedia-player[style*="background-image:"],
.PlayableMedia--video.playable-media-loaded div.PlayableMedia-player[style*="background-image:"] {
  -webkit-filter: invert(100%) !important; }

.PlayableMedia--gif.playable-media-loaded div.PlayableMedia-player[style*="background-image:"] {
  -webkit-filter: invert(0%) !important; }

.PlayableMedia-player > iframe {
  -webkit-filter: invert(0) !important; }

.card-type-poll4choice_text_only > iframe {
  background-color: #e2e0de !important; }

.DashboardProfileCard-bg {
  -webkit-filter: invert(100%)  !important; }

.js-service-name > span {
  -webkit-filter: invert(100%)  !important; }

.tweet {
  border-bottom-color: #ccc !important; }

.tooltip-inner {
  background: #4b484b !important;
  color: #c8c4be !important; }

.tooltip-arrow {
  color: #4b484b !important; }

.gallery-overlay {
  background-color: rgba(255, 255, 255, 0.8) !important; }

/*# sourceMappingURL=twitter-base16tomorrow.css.map */
